<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <mat-tab-group>
      <mat-tab label="First">
        <app-nav-menu-item title="Home"></app-nav-menu-item>
        <app-nav-menu-item title="Dashboard">
          <app-nav-menu-item title=" Dashboard 1">
            <app-nav-menu-item title=" Dashboard 1.1">
              <app-nav-menu-item title=" Dashboard 1.2"></app-nav-menu-item>
            </app-nav-menu-item>
          </app-nav-menu-item>
        </app-nav-menu-item>
      </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>
